section.index-categories
    .container
        h2.index-categories__title Vybrané kategorie
        .row
            .col-6.col-sm-4.col-md-4.col-lg-4.col-xl-4
                .index-categories__single
                    img.index-categories__img(src="http://via.placeholder.com/280x280" data-src="http://via.placeholder.com/280x280")
                    h3.index-categories__single-title Mobily, tablety
                    .index-categories__wrap
                        a.index-categories__link(href="#") Lorem ipsumm
                        a.index-categories__link(href="#") Sed ut perspiciatis
                        a.index-categories__link(href="#") Unde omnis
                        a.index-categories__link(href="#") Iste natus error
                        a.index-categories__link(href="#") Consectetur adipiscing elit
                        a.index-categories__link(href="#") Dolor sit amet 

            .col-6.col-sm-4.col-md-4.col-lg-4.col-xl-4
                .index-categories-single
                    a(href="#")
                        img(src="http://via.placeholder.com/800x800" data-src="http://via.placeholder.com/800x800")
                        h3 Mobily, tablety
                    .index-categories-single-sub
                        a(href="#") Lorem ipsum
                        a(href="#") Sed ut perspiciatis
                        a(href="#") Unde omnis
                        a(href="#") Iste natus error
                        a(href="#") Consectetur adipiscing elit| 
                        a(href="#") Dolor sit amet


            .col-6.col-sm-4.col-md-4.col-lg-4.col-xl-4
                .index-categories-single
                    a(href="#")
                        img(src="http://via.placeholder.com/800x800" data-src="http://via.placeholder.com/800x800")
                        h3 Mobily, tablety
                    .index-categories-single-sub
                        a(href="#") Lorem ipsumm
                        a(href="#") Sed ut perspiciatis
                        a(href="#") Unde omnis
                        a(href="#") Iste natus error
                        a(href="#") Consectetur adipiscing elit
                        a(href="#") Dolor sit amet 

