section.news-bottom
    .container
        h2 Nejnovější aktuality
        .row
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                include _news-single.pug

            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                include _news-single.pug


        .news-bottom-btn     
            a.btn.btn-underline(href="#") Archiv aktualit
