a.single-product-cell(href="#")
    .single-product-cell__top
        .product-tags
            .product-tags__single
                .product-tags__text.sale Akce
            .product-tags__single
                .product-tags__text.new Novinka
            .product-tags__single
                .product-tags__text.top Nejprodávanější
            .product-tags__single
                .product-tags__text.recommended Náš tip
            .product-tags__single
                .product-tags__text.free-shipping Doprava zdarma

        .product-tags--right
            .product-tags__single
                .product-tags__text.sale.circle -30%
            .product-tags__single
                .product-tags__text.vinyl.circle.bottom Vinyl
                
        .single-product-cell__img-container
            .single-product-cell__img-wrap
                img.lazy.single-product-cell__img(src=URLbase+"img/placeholder-200x200.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#")
        h4.single-product-cell__title #{ProductName}

    .single-product-cell__bottom

        .single-product-cell__price-wrap
            .single-product-cell__price
                .single-product-cell__price-old 1 099 Kč
                .single-product-cell__price-main 899 Kč
            .single-product-cell__buy
                form.single-product-cell__form(method="POST")
                    button.btn.single-product-cell__btn(type="submit" name="buy-button") #[span.cart-icon.single-product-cell__btn-icon] Do košíku

        .single-product-cell__delivery-wrap
            .single-product-cell__delivery
                p.single-product-cell__delivery-text #[span Skladem více jak] 5 kusů


        .single-product-cell__info-hide 
            p.single-product-cell__info-hide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.